/* mobile: '425px',
tablet: '768px',
laptop: '1024px',
notebook: '1200px',
desktop: '2560px' */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Roboto", sans-serif;
  color: #1b1d1f;
}

a {
  text-decoration: none;
}

header a:hover {
  color: #46b1de;
}

ul {
  list-style: none;
  font-style: normal;
}
li {
  margin-top: 15px;
}

.first-screen {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 568px;
  position: relative;
}
.header {
  max-width: 450px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo {
  font-size: 17px;
  margin-top: 30px;
  display: flex;
  color: #46b1de;
  line-height: 90%;
}

.logo-discr,
.main-discr {
  font-size: 12px;
}
.img {
  padding-right: 10px;
}

p .img:hover {
  opacity: 0.5;
}

.tooth-header {
  max-width: 33px;
  max-height: 34px;
  padding: 0px;
  margin-right: 10px;
}

.header-phone {
  font-size: 12px;
  color: #1b1d1f;
  position: relative;
}

.header-phone::before {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url(../img/phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header-lang,
.menu,
.card {
  display: none;
}

.main-section {
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.1em;
}

.main {
  max-width: 285px;
  margin: 45px auto;
  text-align: center;
}

.main-title,
.title,
.form-title {
  font-size: 22px;
}

.accent {
  color: #46b1de;
}

.main-discr {
  line-height: 140%;
  margin: 10px auto;
  font-size: 12px;
  line-height: 140%;
  max-width: 230px;
}

.buttons {
  max-width: 300px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.button-accent,
.button {
  width: 100px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 140%;
}

.button-accent {
  background: linear-gradient(97.59deg, #46b1de 9.8%, #0591cc 95.1%);
  color: #ffffff;
  box-shadow: 0px 2px 10px #46b1de;
}

.button-accent:hover {
  background: #ffffff;
  color: #46b1de;
  border: 2px solid #46b1de;
}

.button {
  color: #46b1de;
  background: #ffffff;
  border: 1px solid #dde0dc;
  box-shadow: 0px 2px 10px #dde0dc;
}

.button:hover {
  background: #46b1de;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.lady {
  position: absolute;
  max-height: 530px;
  max-width: 208px;
  right: 70px;
  bottom: 6px;
}

.advantages {
  display: block;
  margin: 30px auto;
  max-width: 350px;
  text-align: center;
}

.title {
  line-height: 130%;
  margin-bottom: 5px;
  text-align: center;
}

.advantages-text {
  line-height: 140%;
  color: #000000;
}

.advantages-text,
.text-discr,
.form-discr {
  font-size: 14px;
}

.backgrnd-accent {
  max-width: 300px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  background: #a1c7d4;
  border-radius: 12px;
}

.advantage-discr {
  max-width: 270px;
  height: 120px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px;
}
.number-discr {
  font-size: 40px;
  margin: 0 10px;
  line-height: 117%;
}

.color-block {
  display: flex;
  color: #46b1de;
}

.services {
  max-width: 400px;
  min-height: 650px;
  text-align: center;
  margin: 30px auto;
}

.services-descr {
  display: flex;
  justify-content: space-between;
}

.services-name-discr {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #46b1de;
  padding: 2px 5px;
}

.services-descr2 {
  display: none;
}

.services-descr1,
.services-descr3 {
  max-width: 250px;
  text-align: left;
}

.service1,
.service2,
.service3,
.service4,
.service5,
.service6 {
  margin: 15px;
}

.attent-img {
  max-width: 80px;
  margin: 0 0 -40px 0;
}

.attent-text {
  font-size: 16px;
  line-height: 140%;
  color: #46b1de;
}

.border {
  max-width: 310px;
  min-height: 265px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px auto;
}

.border2 {
  max-width: 300px;
  min-height: 247px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin: 9px 12px;
  text-align: center;
}
.form-title {
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  margin: 20px auto 7px auto;
}
.form-discr {
  line-height: 140%;
  margin: 20px auto;
}

.form {
  margin: 20px auto;
  flex-direction: column;
  max-width: 230px;
  height: 190px;
  justify-content: space-between;
  align-content: space-around;
}

.input,
.form-button {
  display: block;
  margin: 0 auto;
}

.input {
  position: relative;
}

.input-text {
  width: 233px;
  height: 57px;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  border: none;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.71);
  padding-left: 70px;
  margin: 5px auto;
}

.input-text:focus,
.input-text:hover {
  border: 2px solid #46b1de;
  outline: none;
}

.input-img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 10px;
}

.input::before {
  position: absolute;
  content: "";
  top: calc(50% - 15px);
  left: 50px;
  border-right: 2px solid black;
  height: 30px;
}

.form-button {
  padding: 16px 35px;
  width: 180px;
  height: 57px;
  background: #46b1de;
  border-radius: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  border: none;
  margin: 5px auto;
}

.form-button:hover,
.form-button:focus {
  background: #ffffff;
  color: #46b1de;
  border: 2px solid #46b1de;
  outline: none;
}

.images {
  max-width: 900px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.images-item {
  max-width: 280px;
  margin: 10px;
}

.footer {
  margin: 20px auto 0 auto;
  height: 568px;
  background: linear-gradient(180deg, #a1c7d4 0%, #0680aa 100%);
}

.footer-main {
  padding: 15px;
  display: block;
}
.footer-logo {
  display: flex;
  font-size: 27px;
  line-height: 140%;
  color: #0f2d4a;
}

.tooth {
  max-width: 55px;
  max-height: 57px;
  padding: 0px;
  margin-right: 10px;
}

.footer-nav {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  
}

.footer-nav-items,
.footer-nav-working {
  font-size: 14px;
  line-height: 135%;
  margin: 15px 0;
  color: #0f2d4a;
}
p.footer-nav-items a{
  color: #0f2d4a;
}


.footer-nav-items :hover {
  color: white;
}

.address {
  font-size: 21px;
  line-height: 119%;
  margin: 44px auto 20px;
  color: white;
}
.contact {
  margin-top: 15px;
  font-size: 17px;
  line-height: 135%;
  color: white;
}
.phone,
.email,
.insta {
  
  position: relative;
  padding-left: 40px;
}
.map {
  position: relative;
}

.phone::before,
.insta::before,
.email::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-size: contain;
}
.phone::before {
  background-image: url(../icon/phone.png);
}
.insta::before {
  background-image: url(../icon/instagram.png);
}
.email::before {
  background-image: url(../icon/email.png);
}

.phone:hover:after,
.insta:hover::after,
.email:hover::after,
.map:hover::after {
  position: absolute;
  content: "";
  top: 27px;
  left: 35px;
  width: 85%;
  border-bottom: 1px solid #0f2d4a;
}
.map:hover::after {
  left: 0;
  width: 100%;
}

.whatsapp {
  margin-bottom: -7px;
}

.copyright {
  font-size: 13px;
  margin: 10px 0 0 180px;
  line-height: 130%;
  color: white;
}
li a:hover {
  color: #0f2d4a;
}
.img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .first-screen {
    height: 600px;
  }

  .header {
    max-width: 750px;
  }

  .tooth-header {
    max-width: 50px;
    max-height: 52px;
  }

  .logo {
    font-size: 28px;
  }
  .logo-discr {
    font-size: 26px;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
  }

  .menu-items,
  .header-phone {
    font-size: 16px;
    color: #1b1d1f;
  }

  .main {
    max-width: 460px;
    margin: 25px 80px;
    text-align: left;
  }

  .main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.1em;
    max-width: 350px;
  }
  .main-discr {
    font-size: 16px;
    line-height: 140%;
    margin: 15px 0;
    max-width: 350px;
  }

  .buttons {
    max-width: 450px;
  }

  .button-accent,
  .button {
    text-align: center;
    width: 160px;
    padding: 16px 35px;
    margin: 20px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
  }

  .lady {
    max-width: 420px;
    right: -30px;
    bottom: 5px;
  }

  .card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    max-width: 700px;
    margin: -60px auto;
    position: relative;
  }

  .card-discr {
    display: flex;
    max-width: 210px;
    height: 100px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #d8e1e1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .accent-discr {
    color: #46b1de;
    font-size: 45px;
    padding: 10px;
  }

  .discr {
    padding: 10px;
    line-height: 16px;
    font-size: 14px;
  }

  .advantages {
    display: block;
    margin: 100px auto 30px auto;
    max-width: 700px;
  }

  .backgrnd-accent {
    max-width: 580px;
    height: 550px;
    margin: 0 auto;
  }

  .advantage-discr {
    max-width: 250px;
    height: 160px;
  }

  .services {
    max-width: 720px;
    min-height: 400px;
    margin-top: 30px auto;
  }

  .services-name-discr {
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    color: #46b1de;
    padding: 2px 5px;
  }

  .services-descr2 {
    display: none;
  }

  .services-descr1,
  .services-descr3 {
    max-width: 350px;
    text-align: left;
  }

  .service1,
  .service2,
  .service3,
  .service4,
  .service5,
  .service6 {
    margin: 15px;
  }

  .attent-img {
    max-width: 80px;
    margin: 0 0 -40px 0;
  }

  .attent-text {
    font-size: 16px;
    line-height: 140%;
    color: #46b1de;
  }

  .border {
    max-width: 720px;
  }

  .border2 {
    max-width: 710px;
  }

  .form-discr {
    font-size: 16px;
  }

  .images {
    display: flex;
    flex-direction: row;
    max-width: 730px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .images-item {
    max-width: 220px;
  }
  .footer {
    height: 400px;
    background: linear-gradient(91.75deg, #a1c7d4 18.06%, #0680aa 98.16%);
    margin: 50px auto 0 auto;
  }

  .footer-main {
    max-height: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .footer-logo {
    font-size: 38px;
  }

  .tooth {
    max-width: 78px;
    max-height: 80px;
  }

  .footer-nav {
    max-width: 300px;
  }

  .footer-nav-items {
    font-size: 20px;
  }

  .footer-nav-workingHours {
    margin-top: 25px;
  }

  .footer-nav-working {
    font-size: 20px;
    margin: 0 0;
  }

  .address {
    font-weight: 600;
    font-size: 34px;
  }

  .contact {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .first-screen {
    height: 663px;
  }

  .header {
    max-width: 1100px;
  }

  .logo {
    display: flex;
    margin: 60px 0 0 0;
    color: #46b1de;
    font-size: 38px;
    line-height: 90%;
  }

  .logo-discr {
    font-size: 26px;
  }

  .tooth-header {
    max-width: 78px;
    max-height: 80px;
  }

  .img {
    padding-right: 10px;
  }

  p .img:hover {
    opacity: 0.5;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }

  .menu-items,
  .header-phone {
    font-size: 16px;
    color: #1b1d1f;
  }

  .header-lang {
    display: inline;
  }

  .lang,
  .lang_en {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .lang_en {
    position: relative;
    padding-left: 30px;
  }

  .lang_en::before {
    position: absolute;
    content: "|";
    top: 0;
    left: 10px;
    width: 20px;
    color: #1b1d1f;
    font-size: 20px;
  }

  .main-section {
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto 0 100px;
  }
  .main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.1em;
  }

  .main {
    min-width: 400px;
    margin: 25px 0 50px 50px;
  }

  .main-discr {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
  }

  .buttons {
    max-width: 460px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .button-accent,
  .button {
    text-align: center;
    width: 180px;
    padding: 16px 35px;
    margin: 20px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
  }

  .button-accent {
    background: linear-gradient(97.59deg, #46b1de 9.8%, #0591cc 95.1%);
    color: #ffffff;
    box-shadow: 0px 2px 10px #46b1de;
  }

  .button-accent:hover {
    background: #ffffff;
    color: #46b1de;
    border: 2px solid #46b1de;
  }

  .button {
    color: #46b1de;
    background: #ffffff;
    border: 1px solid #dde0dc;
    box-shadow: 0px 2px 10px #dde0dc;
  }

  .button:hover {
    background: #46b1de;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .lady {
    position: absolute;
    bottom: 5px;
    right: 0px;
    max-width: 572px;
    max-height: 530px;
  }
  .card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    max-width: 900px;
    margin: -60px auto;
    position: relative;
  }

  .card-discr {
    display: flex;
    max-width: 230px;
    height: 120px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #d8e1e1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .services {
    max-width: 900px;
    max-height: 655px;
    text-align: center;
    margin: 50px auto;
  }

  .services-descr {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
  }

  .services-name-discr {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #46b1de;
    padding: 2px 0;
  }

  .services-descr1 {
    text-align: right;
    max-width: 295px;
    min-height: 115px;
  }

  .service1 {
    margin: 0 -25px 30px 0;
  }

  .service3 {
    margin: 30px -70px 0 0;
  }
  .services-descr2 {
    display: inline;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: 1px solid #1b1d1f;
    border-radius: 50%;
    position: relative;
  }
  .ellipse {
    width: 24px;
    height: 24px;
    background: #46b1de;
    border-radius: 50%;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
  }
  .el1,
  .el2,
  .el3 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .el4,
  .el5,
  .el6 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .el1 {
    transform: translate(25px, 10px);
  }

  .el2 {
    transform: translate(-10px, 90px);
  }

  .el3 {
    transform: translate(25px, 170px);
  }

  .el4 {
    transform: translate(-25px, 10px);
  }

  .el5 {
    transform: translate(10px, 90px);
  }

  .el6 {
    transform: translate(-20px, 170px);
  }

  .big-tooth {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .services-descr3 {
    text-align: left;
    max-width: 295px;
    min-height: 115px;
  }

  .service4 {
    margin: 0 0 30px -25px;
  }

  .service6 {
    margin: 50px 0 0 -70px;
  }

  .attent-img {
    max-width: 105px;
    margin: 0 0 -40px 0;
  }

  .attent-text {
    font-size: 20px;
  }
  .border {
    max-width: 845px;
    max-height: 265px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 80px auto;
  }

  .border2 {
    max-width: 821px;
    max-height: 247px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin: 9px 12px;
    text-align: center;
  }

  .form-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    margin: 30px auto 7px auto;
  }

  .form-discr {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 44px;
  }

  .form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 800px;
    max-height: 57px;
  }

  .images {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  .images-item {
    max-width: 280px;
  }
  .footer {
    height: 400px;
    background: linear-gradient(91.75deg, #a1c7d4 18.06%, #0680aa 98.16%);
    margin: 90px auto 0 auto;
  }

  .footer-main {
    max-height: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 80px 130px 80px 100px;
  }

  .footer-logo {
    display: flex;
    font-size: 38px;
    line-height: 140%;
    color: #0f2d4a;
  }

  .tooth {
    max-width: 78px;
    max-height: 80px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }

  .footer-nav-items {
    margin: 15px 0;
    font-size: 20px;
    line-height: 135%;
    color: #0f2d4a;
  }

  .footer-nav-workingHours {
    margin-top: 25px;
  }

  .footer-nav-working {
    font-size: 20px;
    line-height: 135%;
    color: #0f2d4a;
    margin-bottom: 5px;
  }

  .address {
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
  }

  .contact {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .first-screen {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 663px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
  }

  .header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    margin: 60px 0 0 0;
    color: #46b1de;
    font-size: 38px;
    line-height: 90%;
  }

  .logo-discr {
    font-size: 26px;
  }

  .tooth-header {
    max-width: 78px;
    max-height: 80px;
  }

  .img {
    padding-right: 10px;
  }

  p .img:hover {
    opacity: 0.5;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
  }

  .menu-items,
  .header-phone {
    font-size: 16px;
    color: #1b1d1f;
  }

  .header-lang {
    margin-left: 40px;
  }

  .lang {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .main-section {
    display: flex;
    max-width: 1400px;
    align-items: center;
    margin: 0 auto;
  }

  .main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.1em;
  }

  .main {
    max-width: 460px;
    margin: 35px 110px;
  }

  .accent {
    color: #46b1de;
  }

  .main-discr {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
  }

  .buttoms {
    max-width: 460px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .buttom-accent,
  .buttom {
    text-align: center;
    width: 180px;
    padding: 16px 35px;
    margin: 48px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
  }

  .buttom-accent {
    background: linear-gradient(97.59deg, #46b1de 9.8%, #0591cc 95.1%);
    color: #ffffff;
    box-shadow: 0px 2px 10px #46b1de;
  }

  .buttom-accent:hover {
    background: #ffffff;
    color: #46b1de;
    border: 2px solid #46b1de;
  }

  .buttom {
    color: #46b1de;
    background: #ffffff;
    border: 1px solid #dde0dc;
    box-shadow: 0px 2px 10px #dde0dc;
  }

  .buttom:hover {
    background: #46b1de;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .lady {
    position: absolute;
    bottom: 0px;
    right: 70px;
    max-width: 572px;
    max-height: 530px;
  }

  .card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    max-width: 1150px;
    margin: -60px auto;
    position: relative;
  }

  .card-discr {
    display: flex;
    max-width: 280px;
    height: 120px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #d8e1e1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .accent-discr {
    color: #46b1de;
    font-size: 65px;
    padding: 10px;
  }

  .discr {
    padding: 10px;
    line-height: 16px;
  }

  .advantages {
    display: block;
    margin: 150px auto 66px auto;
    max-width: 1150px;
    text-align: center;
  }

  .title {
    font-size: 34px;
    line-height: 130%;
    margin-bottom: 5px;
  }

  .advantages-text {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
  }

  .backgrnd-accent {
    max-width: 1020px;
    height: 396px;
    margin: 50px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background: #a1c7d4;
    border-radius: 12px;
  }

  .advantage-discr {
    background-color: white;
    max-width: 300px;
    height: 176px;
    border-radius: 8px;
    padding: 10px 15px;
  }

  .color-block {
    display: flex;
    color: #46b1de;
  }

  .number-discr {
    font-size: 40px;
    margin: 0 10px;
    line-height: 117%;
  }

  .name-discr {
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
  }

  .text-discr {
    font-size: 16px;
    line-height: 119%;
    padding: 5px 10px;
  }

  .services {
    max-width: 950px;
    min-height: 655px;
    text-align: center;
    margin-top: 50px;
  }

  .services-descr {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .services-name-discr {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #46b1de;
    padding: 2px 10px;
  }

  .services-descr1 {
    text-align: right;
    max-width: 295px;
    min-height: 115px;
  }

  .service1 {
    margin: 0 -25px 30px 0;
  }

  .service3 {
    margin: 50px -70px 0 0;
  }

  .services-descr2 {
    width: 330px;
    height: 330px;
    border: 1px solid #1b1d1f;
    border-radius: 50%;
    position: relative;
  }

  .big-tooth {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ellipse {
    width: 24px;
    height: 24px;
    background: #46b1de;
    border-radius: 50%;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
  }

  .el1,
  .el2,
  .el3 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .el4,
  .el5,
  .el6 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .el1 {
    transform: translate(55px, 18px);
  }

  .el2 {
    transform: translate(-10px, 145px);
  }

  .el3 {
    transform: translate(50px, 278px);
  }

  .el4 {
    transform: translate(-55px, 18px);
  }

  .el5 {
    transform: translate(10px, 145px);
  }

  .el6 {
    transform: translate(-50px, 278px);
  }

  .services-descr3 {
    text-align: left;
    max-width: 295px;
    min-height: 115px;
  }

  .service4 {
    margin: 0 0 30px -25px;
  }

  .service6 {
    margin: 70px 0 0 -70px;
  }

  .border {
    max-width: 845px;
    min-height: 265px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 100px auto;
  }

  .border2 {
    max-width: 821px;
    min-height: 247px;
  }

  .form-title {
    font-size: 32px;

    margin: 30px auto 7px auto;
  }

  .form-discr {
    font-size: 16px;

    margin-bottom: 44px;
  }

  .form {
    display: flex;
    justify-content: space-around;
  }

  .images {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    height: 400px;
    background: linear-gradient(91.75deg, #a1c7d4 18.06%, #0680aa 98.16%);
    margin: 90px auto 0 auto;
  }

  .footer-main {
    max-height: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 100px 100px;
  }

  .footer-logo {
    display: flex;
    font-size: 38px;
    line-height: 140%;
    color: #0f2d4a;
  }

  .tooth {
    max-width: 78px;
    max-height: 80px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }

  .footer-nav-items {
    margin: 15px 0;
    font-size: 20px;
    line-height: 135%;
    color: #0f2d4a;
  }

    .footer-nav-items :hover{
      color: white;
    }

  .footer-nav-workingHours {
    margin-top: 25px;
  }

  .footer-nav-working {
    font-size: 20px;
    line-height: 135%;
    color: #0f2d4a;
    margin-bottom: 5px;
  }

  .address {
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
  }

  .contact {
    font-size: 20px;
  }
}
